In [1]:
## 턱과 같은 인덱스
import cv2
import numpy as np
import pandas as pd
import tensorflow as tf
import math

from prediction import *

from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error

In [2]:
train = ReadDibCsv(100, './data2/train/')
test = ReadDibCsv(100, './data2/test/')

In [21]:
eye = np.zeros((100, 1))
for i in range(100):
    x = train[i,:,0]
    y = train[i,:,1]
    
    minx = min(x)
    miny = min(y)
    maxy = max(y)

    # normalization
    height = (maxy - miny)
    norm_x = (x - minx) / height
    norm_y = (y - miny) / height
    
    x1 = norm_x[42]
    y1 = norm_y[42]
    x2 = norm_x[45]
    y2 = norm_y[45]
    
    rad = math.atan2(y2-y1, x2-x1)
    PI = math.pi
    deg = (rad*180)/PI
    
    eye[i] = deg

In [22]:
eye_t = np.zeros((100, 1))
for i in range(100):
    x = test[i,:,0]
    y = test[i,:,1]
    
    minx = min(x)
    miny = min(y)
    maxy = max(y)

    # normalization
    height = (maxy - miny)
    norm_x = (x - minx) / height
    norm_y = (y - miny) / height
        
    x1 = norm_x[42]
    y1 = norm_y[42]
    x2 = norm_x[45]
    y2 = norm_y[45]
    
    rad = math.atan2(y2-y1, x2-x1)
    PI = math.pi
    deg = (rad*180)/PI
    
    eye_t[i] = deg

In [23]:
train_y = pd.read_csv('./DataSet2/Train/csv/train.csv')
train_y = train_y[['eyeRotation']]
test_y = pd.read_csv('./DataSet2/Test/csv/test.csv')
test_y = test_y[['eyeRotation']]

In [24]:
model = LinearRegression()
model.fit(eye, train_y)
pred = model.predict(eye_t)
df = pd.DataFrame(pred)
df.columns = ['eyeRotation']
df

    eyeRotation
0      0.551922
1      0.512920
2      0.483833
3      0.495478
4      0.545127
..          ...
95     0.397291
96     0.518398
97     0.399771
98     0.457974
99     0.492967

[100 rows x 1 columns]

In [26]:
test_y

    eyeRotation
0      0.620926
1      0.591264
2      0.494820
3      0.510007
4      0.520269
..          ...
95     0.387597
96     0.428771
97     0.398517
98     0.465614
99     0.509509

[100 rows x 1 columns]

In [25]:
mae = mean_absolute_error(test_y, pred)
mae

0.08420758589505266